/* Styles de base */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('./background.png');
    background-size: 60%;
    background-position: center;

    color: #d4af37; /* Couleur dorée */
}

/* Header et Navigation */
header {
    background-color: black;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

header.black-bg {
    background-color: #000000;
}

.logo img {
    height: 10rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffd700;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 0.1rem;
    background-color: #ffd700;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: width 0.4s ease, opacity 0.4s ease;
}

nav ul li a:hover::after {
    width: 100%;
    opacity: 1;
}

h1 {
    color: #ffd700;
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem 0;
    letter-spacing: 0.2rem;
}

h2 {
    color: #ffd700;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

section {
    padding: 3rem 1rem;
    max-width: 90%;
    margin: auto;
    background: linear-gradient(135deg, #111111, #0b0b0b);
    box-shadow: 0 0 1.25rem rgba(255, 215, 0, 0.3);
    border-radius: 0.5rem;
    border: 0.1rem solid #ffd700;
    margin-top: 10rem;
}

.step {
    margin: 3rem 0;
    padding: 1.5rem;
    background-color: #1a1a1a;
    border-left: 0.4rem solid #ffd700;
    border-radius: 0.5rem;
}

.step h3 {
    color: #ffd700;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.step p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    text-align: justify;
    color: #f0f0f0;
}

.site-footer {
    background-color: #000000;
    color: #ffd700;
    padding: 2.5rem 1rem;
    font-family: 'Arial', sans-serif;
    border-top: 0.1rem solid #ffd700;
    text-align: center;
}

.footer-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    height: 12.5rem;
    margin-bottom: 1.5rem;
}

.footer-contact {
    margin-bottom: 1.5rem;
}

.footer-contact p {
    margin: 0.3rem 0;
    font-size: 1rem;
}

.footer-contact a {
    color: #ffd700;
    text-decoration: none;
    font-weight: 500;
}

.footer-contact a:hover {
    color: #e0e0e0;
}

.social-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0rem;
    vertical-align: middle;
}

.footer-rights {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: white;
}

/* Media query pour les appareils avec un écran de moins de 600px de large */
@media only screen and (max-width: 37.5rem) {
    header {
        flex-direction: column;
        padding: 1rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    section {
        padding: 2rem 1rem;
        margin-top: 12rem;
    }

    .footer-container {
        max-width: 95%;
    }
}

